<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title>Sea Pass WD</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.16.0/bootstrap-vue.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.16.0/bootstrap-vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.16.0/bootstrap-vue-icons.min.js"></script>
  <style> input,textarea { font-family: consolas; font-style: italic; } </style>
</head>
  <body>
    <b-container id="app" fluid>
      <b-row class="mx-0">
        <b-col></b-col>
        <b-col lg="6" md="12">
          <b-row class="my-4">
            <b-input-group>
              <b-input-group-prepend>
                <b-input-group-text>
                  <b-icon icon="key"></b-icon>
                </b-input-group-text>
              </b-input-group-prepend>
              <b-form-input v-model.trim="secret" type="password" @keyup.enter="show"></b-form-input>
              <b-input-group-append>
                <b-button variant="info" @click="show">
                  <b-icon icon="cloud-download"></b-icon>
                </b-button>
                <b-button variant="info" @click="save">
                  <b-icon icon="hdd"></b-icon>
                </b-button>
              </b-input-group-append>
            </b-input-group>
            <b-alert v-model="alert.t" variant="danger" dismissible class="mt-2 w-100">{{alert.m}}</b-alert>
          </b-row>
          <b-row v-for="s in sites" class="mt-1">
            <b-card no-body size="sm" class="w-100">
              <b-card-header v-b-toggle="'collapse-' + s.web" class="text-center py-1">{{s.web}}</b-card-header>
              <b-collapse :id="'collapse-' + s.web" accordion="sites">
                <b-card-body class="py-1">
                  <b-row v-for="c of s.css">
                    <b-input-group size="sm">
                      <b-form-input :value="c.usr"></b-form-input>
                      <b-input-group-append>
                        <b-button @click="copy(c.usr)">
                          <b-icon icon="files"></b-icon>
                        </b-button>
                      </b-input-group-append>
                      <b-form-input :value="c.pwd"></b-form-input>
                      <b-input-group-append>
                        <b-button @click="copy(c.pwd)">
                          <b-icon icon="files"></b-icon>
                        </b-button>
                        <b-button @click="update(s.web, c.usr, c.pwd)">
                          <b-icon icon="pen"></b-icon>
                        </b-button>
                        <b-button @click="remove(s.web, c.usr, c.pwd)">
                          <b-icon icon="trash"></b-icon>
                        </b-button>
                      </b-input-group-append>
                    </b-input-group>
                  </b-row>
                </b-card-body>
              </b-collapse>
            </b-card>
          </b-row>
          <b-row class="mt-4">
            <b-card>
              <b-container fluid>
                <b-row class="mb-2">
                  <b-input-group>
                    <b-input-group-prepend>
                      <b-input-group-text>
                        <b-icon icon="globe"></b-icon>
                      </b-input-group-text>
                    </b-input-group-prepend>
                    <b-form-input v-model.trim="next.web"></b-form-input>
                  </b-input-group>
                  <b-input-group>
                    <b-input-group-prepend>
                      <b-input-group-text>
                        <b-icon icon="person"></b-icon>
                      </b-input-group-text>
                    </b-input-group-prepend>
                    <b-form-input v-model.trim="next.usr"></b-form-input>
                  </b-input-group>
                  <b-input-group>
                    <b-input-group-prepend>
                      <b-input-group-text>
                        <b-icon icon="lock"></b-icon>
                      </b-input-group-text>
                    </b-input-group-prepend>
                    <b-form-input v-model.trim="next.pwd"></b-form-input>
                    <b-input-group-append>
                      <b-button @click="random">
                        <b-icon icon="arrow-repeat"></b-icon>
                      </b-button>
                    </b-input-group-append>
                  </b-input-group>
                </b-row>
                <b-row class="justify-content-center">
                  <b-button-group>
                    <b-button variant="info" @click="create(next.web, next.usr, next.pwd)">
                      <b-icon icon="plus-circle"></b-icon>
                    </b-button>
                    <b-button variant="info" @click="copy(text)">
                      <b-icon icon="files"></b-icon>
                    </b-button>
                    <b-button variant="info" @click="base64">
                      <b-icon icon="arrow-repeat"></b-icon>
                    </b-button>
                    <b-button variant="info" href="https://github.com/sealiay/passwords/edit/gh-pages/gg.txt" target="_blank">
                      <b-icon icon="cloud-upload"></b-icon>
                    </b-button>
                  </b-button-group>
                </b-row>
                <b-row class="mt-2">
                  <b-form-textarea :value="text" rows="3" max-rows="10" no-resize readonly></b-form-textarea>
                </b-row>
              </b-container>
            </b-card>
          </b-row>
        </b-col>
        <b-col></b-col>
      </b-row>
    </b-container>
    <script>
"use strict";
let app = new Vue({
  el: '#app',
  data: {
    secret: '',
    sites: [],
    alert: {t: 0, m: ''},
    next: {web: '', usr: '', pwd: ''},
    text: '',
  },
  methods: {
    async init() {
      this.random();
      this.secret = localStorage.getItem("master-key") || '';
      if (this.secret) await this.show();
    },
    async show() {
      try {
        let r = await fetch('gg.txt');
        if (!r.ok) throw Error(`http status ${r.status}`);
        this.text = await r.text();
      } catch (e) {
        this.alert = {t: 5, m: 'cannot load gg file!'};
        throw e;
      }
      
      try {
        this.sites = (await decrypt(this.text, this.secret)).sites;
      } catch (e) {
        this.alert = {t: 5, m: 'bad master key!'};
        throw e;
      }
    },
    save() {
      localStorage.setItem("master-key", this.secret);
    },
    async copy(s) {
      try {
        await navigator.clipboard.writeText(s);
      } catch (e) {
        this.alert = {t: 5, m: 'cannot copy'};
        throw e;
      }
    },
    random() {
      let u = 'ABCDEFGHJKLMNPQRSTUVWXYZ'; // no IO
      let l = 'abcdefghijkmnopqrstuvwxyz'; // no l
      let n = '0123456789';
      this.next.pwd = '_' + [
        ...Array.from({length: 2}, _ => u[Math.floor(Math.random() * u.length)]),
        ...Array.from({length: 2}, _ => l[Math.floor(Math.random() * l.length)]),
        ...Array.from({length: 6}, _ => n[Math.floor(Math.random() * n.length)]),
      ].join('');
    },
    async create(web, usr, pwd) {
      if (!web || !usr || !pwd) return;

      let a = this.sites;
      let i = bisect(a, web, 'web');
      if ((a[i] || {}).web != web) a.splice(i, 0, {web, css: []});

      let b = a[i].css;
      let j = bisect(b, usr, 'usr');
      if ((b[j] || {}).usr != usr) b.splice(j, 0, {usr});

      b[j].pwd = pwd;
      this.random();
      this.base64();
    },
    update(web, usr, pwd) {
      this.next = {web, usr, pwd};
    },
    async remove(web, usr, pwd) {
      let a = this.sites;
      let i = bisect(a, web, 'web');
      if ((a[i] || {}).web != web) return;

      let b = a[i].css;
      let j = bisect(b, usr, 'usr');
      if ((b[j] || {}).usr != usr) return;

      b.splice(j, 1);
      if (!b.length) a.splice(i, 1);
      this.base64();
    },
    async base64() {
      try {
        this.text = await encrypt({sites: this.sites}, this.secret);
      } catch (e) {
        this.alert = {t: 5, m: 'bad master key!'};
        throw e;
      }
    },
  },
});
app.init();

async function sha256(txt, salt) {
  let bin = new TextEncoder().encode(txt + '&' + salt);
  return await crypto.subtle.digest('SHA-256', bin);
}
async function getkey(sec) {
  if (sec.length >= 2) {
    let key = await sha256(sec, 'aeskey');
    return await crypto.subtle.importKey('raw', key, 'AES-CBC', 0, ["encrypt", "decrypt"]);
  } else {
    throw Error('key too short');
  }
}
async function decrypt(txt, sec) {
  let key = await getkey(sec);
  let buf = Uint8Array.from(atob(txt), c => c.charCodeAt(0));
  let aes = {name: 'AES-CBC', iv: buf.slice(0, 16)};
  let raw = await crypto.subtle.decrypt(aes, key, buf.slice(16));
  return JSON.parse(new TextDecoder().decode(raw));
}
async function encrypt(obj, sec) {
  let key = await getkey(sec);
  let raw = new TextEncoder().encode(JSON.stringify(obj));
  let aes = {name: 'AES-CBC', iv: crypto.getRandomValues(new Uint8Array(16))};
  let buf = new Uint8Array(await crypto.subtle.encrypt(aes, key, raw));
  return btoa(String.fromCharCode(...aes.iv, ...buf));
}
function bisect(arr, val, key) {
  let i = 0, j = arr.length;
  while (i < j) {
    let m = (i+j) >> 1;
    if (arr[m][key] < val) i = m+1;
    else j = m;
  }
  return i;
}
    </script>
  </body>
</html>
